/*
COLORS

Primary: #3930D8
Primary light: #25B8F6
Primary dark: #7350F2

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-primary: #3930D8;
  --color-primary-light: #25B8F6;
  --color-primary-dark: #7350F2;
  --color-secondary-light: #2998ff;
  --color-secondary-dark: #5643fa;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1:  #333;
  --color-grey-dark-2:  #777;
  --color-grey-dark-3:  #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-light-1);
  background-color: var(--color-primary);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

h1 {
  border-bottom: var(--line);
  font-weight: 200;
  font-size: 4rem; }

.container {
  height: 100%;
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
  display: grid;
  grid-template-rows: auto 10rem 10rem auto;
  grid-template-columns: [grid-start] 1fr [grid-end];
  grid-gap: 2rem; }

.header {
  grid-area: head;
  justify-self: center;
  align-self: end;
  grid-column: grid-start / grid-end;
  grid-row: 1 / 2;
  background-color: transparent; }

.circle-cutout {
  grid-row: 2 / 4;
  grid-column: grid-start / grid-end;
  justify-self: center;
  align-self: center;
  z-index: 1;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .circle-cutout__photo {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background-color: lightskyblue;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .circle-cutout__photo--image {
      width: 18rem;
      height: 18rem;
      border-radius: 50%;
      background-size: cover;
      background-blend-mode: multiply;
      background-image: linear-gradient(to right bottom, var(--color-primary-dark), var(--color-primary-light)), url(../resources/nat-9.jpg); }

.info {
  grid-row: 3 / -1;
  grid-column: grid-start / grid-end;
  background-color: var(--color-primary-dark);
  padding: 15rem 5rem 5rem 5rem;
  border-radius: 8px;
  text-align: left;
  display: grid;
  grid-template-columns: [info-start] 1fr [info-end];
  grid-gap: 3.5rem;
  justify-content: center; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card__side {
    background-color: var(--color-primary-light);
    border-radius: 2rem;
    height: 50rem;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: var(--shadow-dark);
    overflow: hidden; }
    .card__side--front {
      background-color: var(--color-primary-light); }
    .card__side--back {
      background-image: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark));
      transform: rotateY(180deg); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 38rem;
    background-blend-mode: multiply;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 85%, 100% 0);
    clip-path: polygon(0 0, 0 100%, 100% 85%, 100% 0); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark)), url(../resources/nat-1-large.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark)), url(../resources/coding-1.jpg); }
    .card__picture--3 {
      background: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark)), url(../resources/nat-2-large.jpg) center;
      background-size: cover; }
    .card__picture--4 {
      background-image: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark)), url(../resources/bucha-1.jpg); }
    .card__picture--5 {
      background: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark)), url(../resources/lab-2.jpg) center;
      background-size: cover; }
    .card__picture--6 {
      background: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark)), url(../resources/lab-1.jpg) center;
      background-size: cover; }
    .card__picture--7 {
      background: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark)), url(../resources/moving-1.jpg) center;
      background-size: cover; }
    .card__picture--8 {
      background: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark)), url(../resources/breath-1.jpg) center;
      background-size: cover; }
    .card__picture--9 {
      background: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark)), url(../resources/circle-1.jpg) center;
      background-size: cover; }
    .card__picture--10 {
      background: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark)), url(../resources/learning-1.jpg) center;
      background-size: cover; }
    .card__picture--11 {
      background: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark)), url(../resources/skills.jpg) center;
      background-size: cover; }
    .card__picture--12 {
      background: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark)), url(../resources/volunteer.jpg) center;
      background-size: cover; }
  .card__heading {
    display: flex;
    flex-direction: column;
    font-size: 2.1rem;
    font-weight: 200;
    text-transform: uppercase;
    text-align: right;
    padding: 1.5rem;
    position: absolute;
    top: 20rem;
    right: 2rem;
    width: 45rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__logo {
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 1.5rem;
    align-self: end; }
    .card__logo--1 {
      background-image: url(../resources/woodseer_white.png);
      height: 5rem;
      width: 20rem; }
    .card__logo--2 {
      background-image: url(../resources/codecore-1.jpg);
      height: 8rem;
      width: 8rem;
      border-radius: 1.2rem; }
    .card__logo--3 {
      background-image: url(../resources/redline-logo.png);
      height: 8rem;
      width: 13.5rem; }
    .card__logo--4 {
      background-image: url(../resources/bucha-logo.png);
      height: 5rem;
      width: 20rem; }
    .card__logo--5 {
      background-image: url(../resources/rise-2.png);
      height: 8rem;
      width: 8rem;
      border-radius: 1.2rem; }
    .card__logo--7 {
      background-image: url(../resources/shmoover-1-logo.jpg);
      background-size: cover;
      height: 8rem;
      width: 13.4rem;
      border-radius: 1.2rem; }
    .card__logo--8 {
      background-image: url(../resources/just-breathing-logo.png);
      height: 8rem;
      width: 8rem;
      border-radius: 1.2rem; }
    .card__logo--box {
      display: flex;
      width: 100%;
      justify-content: space-around; }
    .card__logo--img {
      height: 8rem;
      width: 8rem;
      border-radius: 1.2rem; }
    .card__logo--11 {
      background-image: url(../resources/ruby-logo.png); }
    .card__logo--12 {
      background-image: url(../resources/rails-logo.png); }
    .card__logo--13 {
      background-image: url(../resources/react-logo.png); }
    .card__logo--14 {
      background-image: url(../resources/js-logo.png); }
    .card__logo--15 {
      background-image: url(../resources/ableton-logo.jpg); }
    .card__logo--16 {
      background-image: url(../resources/mercyships-logo.jpg); }
    .card__logo--17 {
      background-image: url(../resources/oneyoga-logo.jpg); }
  .card__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem; }
    .card__details ul {
      width: 90%; }
      .card__details ul li {
        font-size: 1.8rem;
        padding: 1rem; }
  .card__skills {
    display: grid;
    grid-template-columns: repeat(2, minmax(25rem, 1fr));
    justify-items: center;
    padding: 2rem; }
    .card__skills li {
      font-size: 1.8rem;
      padding: 1rem; }
