@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/*
COLORS

Primary: #3930D8
Primary light: #25B8F6
Primary dark: #7350F2

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

// --color-primary: #2C2F48;
// --color-primary-light: #8185A6;
// --color-primary-light-2: #8DABC7;
// --color-primary-dark: #625EAC;
*/
:root {
  --color-primary: #3930D8;
  --color-primary-light: #25B8F6;
  --color-primary-dark: #7350F2;
  --color-secondary-light: #2998ff;
  --color-secondary-dark: #5643fa;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #DDDFE7;
  --color-grey-dark-1:  #333;
  --color-grey-dark-2:  #777;
  --color-grey-dark-3:  #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 40%; } }
  @media only screen and (min-width: 75em) {
    html {
      font-size: 60%; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-light-1);
  background-color: var(--color-primary);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

h1 {
  border-bottom: var(--line);
  font-weight: 200;
  font-size: 4rem; }

.container {
  height: 100%;
  font-size: 2rem;
  text-align: center;
  padding: 15rem;
  display: grid;
  grid-template-rows: auto 10rem 10rem auto;
  grid-template-columns: [grid-start] 1fr [grid-end];
  grid-gap: 2rem; }
  @media only screen and (max-width: 75em) {
    .container {
      padding: 10rem; } }
  @media only screen and (max-width: 56.25em) {
    .container {
      padding: 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .container {
      padding: 0;
      padding-top: 7rem; } }
  @media only screen and (min-width: 75em) {
    .container {
      padding: 13rem; } }

.header {
  grid-area: head;
  justify-self: center;
  align-self: end;
  grid-column: grid-start / grid-end;
  grid-row: 1 / 2;
  background-color: transparent; }
  .header__name {
    font-size: 6rem;
    color: whitesmoke;
    border-bottom: var(--line);
    box-shadow: var(--shadow-dark); }
  .header__sub {
    background-color: var(--color-secondary-dark);
    color: var(--color-grey-light-1);
    font-size: 3rem;
    padding: 1rem; }

.circle-cutout {
  grid-row: 2 / 4;
  grid-column: grid-start / grid-end;
  justify-self: center;
  align-self: center;
  z-index: 1;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .circle-cutout__photo {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background-color: lightskyblue;
    box-shadow: var(--shadow-dark);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .circle-cutout__photo--image {
      width: 18rem;
      height: 18rem;
      border-radius: 50%;
      background-size: cover;
      background-blend-mode: overlay;
      background-image: linear-gradient(to right bottom, rgba(115, 80, 242, 0.9), rgba(37, 184, 246, 0.9)), url(../resources/nat-9.jpg); }

.main {
  grid-row: 3 / -1;
  grid-column: grid-start / grid-end;
  background-color: var(--color-primary-dark);
  padding: 15rem 5rem 5rem 5rem;
  border-radius: 8px;
  text-align: left;
  display: grid;
  grid-template-columns: [info-start] 1fr [info-end];
  grid-gap: 3.5rem;
  justify-items: center; }
  .main h1 {
    width: 100%; }
  .main .hover {
    text-transform: uppercase;
    grid-gap: none; }
    @media only screen and (max-width: 56.25em) {
      .main .hover {
        display: none; } }
    @media only screen and (max-width: 37.5em) {
      .main .hover {
        display: none; } }
  @media only screen and (max-width: 56.25em) {
    .main {
      padding: 15rem 5rem 5rem 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .main {
      padding: 15rem 1rem 1rem 1rem; } }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
  width: 100%;
  max-width: 90rem; }
  @media only screen and (max-width: 75em) {
    .card {
      height: 55rem; } }
  @media only screen and (max-width: 37.5em) {
    .card {
      width: 40rem; } }
  .card__side {
    background-color: var(--color-primary-light);
    border-radius: 2rem;
    height: 50rem;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: var(--shadow-dark);
    overflow: hidden; }
    @media only screen and (max-width: 75em) {
      .card__side {
        height: 55rem; } }
    @media only screen and (max-width: 37.5em) {
      .card__side {
        width: 40rem; } }
    .card__side--front {
      background-color: var(--color-primary-light); }
    .card__side--back {
      background-image: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark));
      transform: rotateY(180deg); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 38rem;
    background-blend-mode: multiply;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 85%, 100% 0);
    clip-path: polygon(0 0, 0 100%, 100% 85%, 100% 0); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark)), url(../resources/mobile-optimized/nat-1-small-1000.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark)), url(../resources/mobile-optimized/coding-1-small-7952.jpg); }
    .card__picture--3 {
      background: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark)), url(../resources/mobile-optimized/nat-2-small-1000.jpg) center;
      background-size: cover; }
    .card__picture--4 {
      background-image: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark)), url(../resources/mobile-optimized/bucha-1-small-5996.jpg); }
    .card__picture--5 {
      background: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark)), url(../resources/mobile-optimized/lab-2-small-5184.jpg) center;
      background-size: cover; }
    .card__picture--6 {
      background: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark)), url(../resources/mobile-optimized/lab-1-small-8688.jpg) center;
      background-size: cover; }
    .card__picture--7 {
      background: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark)), url(../resources/mobile-optimized/moving-1-small-4927.jpg) center;
      background-size: cover; }
    .card__picture--8 {
      background: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark)), url(../resources/mobile-optimized/breath-1-small-4000.jpg) center;
      background-size: cover; }
    .card__picture--9 {
      background: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark)), url(../resources/mobile-optimized/circle-1-small-6016.jpg) center;
      background-size: cover; }
    .card__picture--10 {
      background: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark)), url(../resources/mobile-optimized/learning-1-small-7360.jpg) center;
      background-size: cover; }
    .card__picture--11 {
      background: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark)), url(../resources/mobile-optimized/skills-small-1400.jpg) center;
      background-size: cover; }
    .card__picture--12 {
      background: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark)), url(../resources/mobile-optimized/volunteer-small-5472.jpg) center;
      background-size: cover; }
  .card__heading {
    display: flex;
    flex-direction: column;
    font-size: 2.1rem;
    font-weight: 200;
    text-transform: uppercase;
    text-align: right;
    padding: 1.5rem;
    position: absolute;
    top: 20rem;
    right: 2rem;
    width: 45rem;
    min-width: 30rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
    @media only screen and (max-width: 75em) {
      .card__heading {
        width: 70%; } }
    @media only screen and (max-width: 56.25em) {
      .card__heading {
        width: 45rem; } }
    @media only screen and (max-width: 37.5em) {
      .card__heading {
        width: 35rem; } }
    @media only screen and (min-width: 75em) {
      .card__heading {
        width: 50rem; } }
  .card__logo {
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 1.5rem;
    align-self: flex-end; }
    .card__logo--1 {
      background-image: url(../resources/woodseer_white.png);
      height: 5rem;
      width: 20rem; }
    .card__logo--2 {
      background-image: url(../resources/codecore-1.jpg);
      height: 8rem;
      width: 8rem;
      border-radius: 1.2rem; }
    .card__logo--3 {
      background-image: url(../resources/mobile-optimized/redline-logo-small-600.png);
      height: 8rem;
      width: 13.5rem; }
    .card__logo--4 {
      background-image: url(../resources/bucha-logo.png);
      height: 5rem;
      width: 20rem; }
    .card__logo--5 {
      background-image: url(../resources/mobile-optimized/rise-2-small-200.png);
      height: 8rem;
      width: 8rem;
      border-radius: 1.2rem; }
    .card__logo--7 {
      background-image: url(../resources/mobile-optimized/shmoover-1-logo-small-960.jpg);
      background-size: cover;
      height: 8rem;
      width: 13.4rem;
      border-radius: 1.2rem; }
    .card__logo--8 {
      background-image: url(../resources/mobile-optimized/just-breathing-logo-small-600.png);
      height: 8rem;
      width: 8rem;
      border-radius: 1.2rem; }
    .card__logo--box {
      display: flex;
      width: 100%;
      justify-content: space-around; }
    .card__logo--img {
      height: 8rem;
      width: 8rem;
      border-radius: 1.2rem; }
    .card__logo--11 {
      background-image: url(../resources/mobile-optimized/ruby-logo-small-600.png); }
    .card__logo--12 {
      background-image: url(../resources/mobile-optimized/rails-logo-small-600.png); }
    .card__logo--13 {
      background-image: url(../resources/mobile-optimized/react-logo-small-300.png); }
    .card__logo--14 {
      background-image: url(../resources/js-logo.png); }
    .card__logo--15 {
      background-image: url(../resources/ableton-logo.jpg); }
    .card__logo--16 {
      background-image: url(../resources/mercyships-logo.jpg); }
    .card__logo--17 {
      background-image: url(../resources/mobile-optimized/oneyoga-logo-small-450.jpg); }
  .card__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem; }
    .card__details ul {
      width: 90%; }
      .card__details ul li {
        font-size: 1.8rem;
        padding: 1rem; }
  .card__skills {
    display: grid;
    grid-template-columns: repeat(2, minmax(20rem, 1fr));
    padding: 3rem;
    grid-row-gap: 2rem;
    text-align: left; }
    .card__skills h3 {
      justify-self: flex-start;
      padding-left: 3rem; }
    .card__skills ul {
      justify-self: center;
      align-self: center; }
    .card__skills li {
      padding: 1rem;
      font-size: 1.8rem; }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .card {
      height: auto;
      border-radius: 2rem;
      background-color: var(--color-primary-light);
      box-shadow: var(--shadow-dark); }
      .card__side {
        position: relative;
        height: auto;
        box-shadow: none; }
        .card__side--front {
          overflow: visible;
          z-index: 1; }
        .card__side--back {
          transform: rotateY(0deg);
          margin-top: 5rem;
          border-top-left-radius: 0;
          border-top-right-radius: 0; }
      .card__picture {
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem; }
      .card:hover .card__side--front {
        transform: rotateY(0deg); }
      .card__heading {
        z-index: 100; }
      .card__details {
        padding: 2rem 1rem 2rem 1rem;
        width: 100%; }
      .card__skills {
        padding: 1rem 2rem 2rem 2rem;
        width: 100%;
        display: flex;
        flex-direction: column; }
        .card__skills ul {
          padding-left: 2rem;
          justify-self: flex-start;
          align-self: flex-start; }
        .card__skills h3 {
          justify-self: flex-start;
          padding-left: 0;
          padding-bottom: 1rem;
          padding-top: 1rem; } }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: antiquewhite;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: var(--shadow-dark);
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__button {
      top: 1.5rem;
      right: 2rem; } }

.navigation__background {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  position: fixed;
  top: 5.5rem;
  right: 5.5rem;
  background-image: radial-gradient(orangered, var(--color-secondary-dark));
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 56.25em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__background {
      top: 1rem;
      right: 1.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  visibility: hidden;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__header {
  padding: 10rem 7rem 7rem 7rem; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
  margin-top: 10%; }
  @media only screen and (max-width: 37.5em) {
    .navigation__list {
      margin-top: 20%; } }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: var(--color-grey-light-1);
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-grey-light-1) 50%);
  background-size: 250%;
  transition: all .4s; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: var(--color-secondary-dark);
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  visibility: visible;
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: var(--color-grey-dark-3);
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }
