/*
COLORS

Primary: #3930D8
Primary light: #25B8F6
Primary dark: #7350F2

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/

:root {
  // PRIMARY COLORS
  --color-primary: #3930D8;
  --color-primary-light: #25B8F6;
  --color-primary-dark: #7350F2;
  --color-secondary-light: #2998ff;
  --color-secondary-dark: #5643fa;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  // TEXT COLORS
  --color-grey-dark-1:  #333;
  --color-grey-dark-2:  #777;
  --color-grey-dark-3:  #999;

  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);

  --line: 1px solid var(--color-grey-light-2);
}

$bp-largest: 75em;      // 1200px
$bp-large: 68em;        // 1100px
$bp-medium: 56.25em;    // 900px
$bp-small: 37.5em;      // 600px
$bp-smallest: 31.25em;      // 500px


* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  // @media only screen and (max-width: $bp-large) {
  //   font-size: 50%;
  //   max-width: 100%;
  //   width: 100%;
  // }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-light-1);
  // background-image: linear-gradient(to bottom right, var(--color-primary), var(--color-primary-dark));
  background-color: var(--color-primary);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

h1 {
  border-bottom: var(--line);
  font-weight: 200;
  font-size: 4rem;
}