.container {
  height: 100%;
  font-size: 2rem;
  text-align: center;
  padding: 2rem;

  display: grid;
  // grid-template-rows: repeat(3, [row-start] minmax(1fr, auto-fill) [row-end]);
  grid-template-rows: auto 10rem 10rem auto;
  grid-template-columns: [grid-start] 1fr [grid-end];
  grid-gap: 2rem;

  & > * {
    // padding: 1rem;
  }

  // MEDIA QUERIES
  // @media only screen and (max-width: $bp-largest) {
  //   margin: 0;
  //   max-width: 100%;
  // }
}


.header {
  grid-area: head;
  justify-self: center;
  align-self: end;
  grid-column: grid-start / grid-end;
  grid-row: 1 / 2;

  background-color: transparent;
}
  
.circle-cutout {
  // aligning the item in the center of the COLUMN (horizantal) AXIS
  grid-row: 2 / 4;
  grid-column: grid-start / grid-end;
  justify-self: center;
  align-self: center;
  z-index: 1;

  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  
  // center the circle
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  &__photo {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background-color: lightskyblue;
    z-index: 2;
    
    // center the text
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &--image {
      background-blend-mode: difference;
      // clip-path: circle(45% at 50% 50%);
      width: 18rem;
      height: 18rem;
      border-radius: 50%;
      background-image:  linear-gradient(to right bottom, grey, black), url(../resources/image1.jpg);
    }
  }
}

.info {
  grid-row: 3 / -1;
  grid-column: grid-start / grid-end;
  background-color: var(--color-primary-dark);
  padding: 15rem 5rem 5rem 5rem;
  border-radius: 8px;
  text-align: left;
  
  display: grid;
  grid-template-columns:  [info-start] 1fr [info-end];
  grid-gap: 3.5rem;
  justify-content: center;

}

// Card flip functionality
.card {
  
  perspective: 150rem;
  -moz-perspective: 150rem;
  position:  relative;
  height: 50rem;
  
  &__side {
    background-color: var(--color-primary-light);
    padding: 3rem;
    border-radius: 2rem;
    height: 50rem;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: var(--shadow-dark);

    &--front {
      background-color: var(--color-primary-light);
    }
    &--back {
      background-image: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark) );
      transform: rotateY(180deg);
    }
  }

  // height: 50rem;
  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0);
  }

  // Front Side Styling
  &__picture {
    background-size: contain;
    background-repeat: no-repeat;
    height: 10rem;
    // assume that this code is written in style.css file, and find directory from there
    &--1 {
      background-image: url(../resources/woodseer_white.png)
    }
  }
}


// align-items: center; // STRETCH / center / end / start
// justify-items: center;


// ALIGN GRID TRACKS TO GRID CONTAINER

// aligns grid tracks in the HORIZANTAL or ROW DIRECTION
// justify-content: center;
// aligns grid tracks in the VERTICAL or COLUMN DIRECTION
// align-content: center;
