.container {
  height: 100%;
  font-size: 2rem;
  text-align: center;
  padding: 15rem;

  display: grid;
  // grid-template-rows: repeat(3, [row-start] minmax(1fr, auto-fill) [row-end]);
  grid-template-rows: auto 10rem 10rem auto;
  grid-template-columns: [grid-start] 1fr [grid-end];
  grid-gap: 2rem;

  & > * {
    // padding: 1rem;
  }

  @include respond(tab-land) { // width LESS THAN 1200 px?
    padding: 10rem;
  }
  @include respond(tab-port) { // width LESS THAN 900 px?
    padding: 5rem;
  }
  @include respond(phone) { // width LESS THAN 600 px?
    padding: 0;
    padding-top: 7rem;
  }
  @include respond(desktop) { // width GREATER THAN 1200 px?
    padding: 13rem;
  }
}


.header {
  grid-area: head;
  justify-self: center;
  align-self: end;
  grid-column: grid-start / grid-end;
  grid-row: 1 / 2;

  background-color: transparent;

  &__name {
    font-size: 6rem;
    // background-color: lightskyblue;
    color: whitesmoke;
    border-bottom: var(--line);
    box-shadow: var(--shadow-dark);
  }
  &__sub {
    background-color: var(--color-secondary-dark);
    color: var(--color-grey-light-1);
    font-size: 3rem;
    padding: 1rem;
  }
}
  
.circle-cutout {
  // aligning the item in the center of the COLUMN (horizantal) AXIS
  grid-row: 2 / 4;
  grid-column: grid-start / grid-end;
  justify-self: center;
  align-self: center;
  z-index: 1;

  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  
  // center the circle
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  &__photo {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background-color: lightskyblue;
    box-shadow: var(--shadow-dark);
    z-index: 2;
    
    // center the text
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &--image {
      // clip-path: circle(45% at 50% 50%); FOR IMG TAG
      width: 18rem;
      height: 18rem;
      border-radius: 50%;
      background-size: cover;
      // background-blend-mode: multiply;
      background-blend-mode: overlay;
      background-image:  linear-gradient(to right bottom, rgba(#7350F2, .9), rgba(#25B8F6, .9)), url(../resources/mobile-optimized/nat-9-small-2000.jpg);
    }
  }
}

.main {
  grid-row: 3 / -1;
  grid-column: grid-start / grid-end;
  background-color: var(--color-primary-dark);
  padding: 15rem 5rem 5rem 5rem;
  border-radius: 8px;
  text-align: left;
  
  display: grid;
  grid-template-columns: [info-start] 1fr [info-end];
  grid-gap: 3.5rem;
  justify-items: center;


  h1 {
    width: 100%;
  }

  .hover {
    text-transform: uppercase;
    grid-gap: none;

    @include respond(tab-port) {
      display: none;
    }
    @include respond(phone) {
      display: none;
    }
  }

  @include respond(tab-port) {
    padding: 15rem 5rem 5rem 5rem;
  }
  @include respond(phone) {
    padding: 15rem 1rem 1rem 1rem;
  }
}

// Card flip functionality
.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position:  relative;
  height: 50rem;
  width: 100%;
  max-width: 90rem;

  @include respond(tab-land) { // width 900 - 1200 px?
    height: 55rem; 
  }

  @include respond(phone) { // width LESS THAN 600 px?
    width: 40rem; 
  }
  
  &__side {
    background-color: var(--color-primary-light);
    border-radius: 2rem;
    height: 50rem;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: var(--shadow-dark);
    overflow: hidden;

    @include respond(tab-land) { // width 900 - 1200 px?
      height: 55rem; 
    }

    @include respond(phone) { // width LESS THAN 600 px?
      width: 40rem; 
    }

    &--front {
      background-color: var(--color-primary-light);
    }
    &--back {
      background-image: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark));
      transform: rotateY(180deg);
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0);
  }

  // ============> FRONT CARD STYLING
  &__picture {
    background-size: cover;
    height: 38rem;
    background-blend-mode: multiply;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 85%, 100% 0);
    clip-path: polygon(0 0, 0 100%, 100% 85%, 100% 0);

    &--1 {
      background-image:  linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark)), url(../resources/mobile-optimized/nat-1-small.jpg);
    }
    &--2 {
      background-image:  linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark)), url(../resources/mobile-optimized/coding-1-small.jpg);
    }
    &--3 {
      background:  linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark)), url(../resources/mobile-optimized/nat-2-small.jpg) center;
      background-size: cover;
    }
    &--4 {
      background-image:  linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark)), url(../resources/mobile-optimized/bucha-1-small.jpg);
    }
    &--5 {
      background:  linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark)), url(../resources/mobile-optimized/lab-2-small.jpg) center;
      background-size: cover;
    }
    &--6 {
      background:  linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark)), url(../resources/mobile-optimized/lab-1-small.jpg) center;
      background-size: cover;
    }
    &--7 {
      background:  linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark)), url(../resources/mobile-optimized/moving-1-small.jpg) center;
      background-size: cover;
    }
    &--8 {
      background:  linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark)), url(../resources/mobile-optimized/breath-1-small.jpg) center;
      background-size: cover;
    }
    &--9 {
      background:  linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark)), url(../resources/mobile-optimized/circle-1-small.jpg) center;
      background-size: cover;
    }
    &--10 {
      background:  linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark)), url(../resources/mobile-optimized/learning-1-small.jpg) center;
      background-size: cover;
    }
    &--11 {
      background:  linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark)), url(../resources/mobile-optimized/skills-small.jpg) center;
      background-size: cover;
    }
    &--12 {
      background:  linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark)), url(../resources/mobile-optimized/volunteer-small.jpg) center;
      background-size: cover;
    }
  }

  &__heading {
    display: flex;
    flex-direction: column;

    font-size: 2.1rem;
    font-weight: 200;
    text-transform: uppercase;
    text-align: right;

    padding: 1.5rem;
    position: absolute;
    top: 20rem;
    right: 2rem;
    width: 45rem;
    min-width: 30rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-image: linear-gradient(to right bottom, rgba(#2998ff, .85), rgba(#5643fa, .85));

    @include respond(tab-land) { // width 900 - 1200 px?
      width: 70%; 
    }
    @include respond(tab-port) { // width 600 - 900 px?
      width: 45rem; 
    }
    @include respond(phone) { // width LESS THAN 600 px?
      width: 35rem; 
    }
    @include respond(desktop) { // width GREATER THAN 1200 px?
      width: 50rem;
    }
  }
  // LOGOS
  &__logo {
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 1.5rem;
    align-self: flex-end;
    // MUST ASSUME code is ACCESS FROM STYLE.CSS file => find url image directory from there
    // WOODSEER
    &--1 {
      background-image: url(../resources/woodseer_white.png);
      height: 5rem;
      width: 20rem;
    }
    // CODECORE
    &--2 {
      background-image: url(../resources/codecore-1.jpg);
      height: 8rem;
      width: 8rem;
      border-radius: 1.2rem;
    }
    // REDLINE
    &--3 {
      background-image: url(../resources/mobile-optimized/redline-logo-small-600.png);
      height: 8rem;
      width: 13.5rem;
    }
    // BUCHA
    &--4 {
      background-image: url(../resources/bucha-logo.png);
      height: 5rem;
      width: 20rem;
    }
    // RISE
    &--5 {
      background-image: url(../resources/mobile-optimized/rise-2-small-200.png);
      height: 8rem;
      width: 8rem;
      border-radius: 1.2rem;
    }
    // SHMOOVER
    &--7 {
      background-image: url(../resources/mobile-optimized/shmoover-1-logo-small-960.jpg);
      background-size: cover;
      height: 8rem;
      width: 13.4rem;
      border-radius: 1.2rem;
    }
    // BREATHE
    &--8 {
      background-image: url(../resources/mobile-optimized/just-breathing-logo-small-600.png);
      height: 8rem;
      width: 8rem;
      border-radius: 1.2rem;
    }

    &--box {
      display: flex;
      width: 100%;
      justify-content: space-around;
    
    }

    &--img {
      height: 8rem;
      width: 8rem;
      border-radius: 1.2rem;
    }
    // RUBY
    &--11 {
      background-image: url(../resources/mobile-optimized/ruby-logo-small-600.png);
    }
    // RAILS
    &--12 {
      background-image: url(../resources/mobile-optimized/rails-logo-small-600.png);
    }
    // REACT
    &--13 {
      background-image: url(../resources/mobile-optimized/react-logo-small-300.png);
    }
    // JAVASCRIPT
    &--14 {
      background-image: url(../resources/js-logo.png);
    }
    //ABLETON
    &--15 {
      background-image: url(../resources/ableton-logo.jpg);
    }
    // MERCY SHIPS
    &--16 {
      background-image: url(../resources/mercyships-logo.jpg);
    }
    // ONE YOGA 
    &--17 {
      background-image: url(../resources/mobile-optimized/oneyoga-logo-small-450.jpg);
    }
  }

  // ==========> BACK SIDE CARD STYLING
  &__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;

    ul {
      width: 90%;
      li {
        font-size: 1.8rem;
        padding: 1rem;
      }
    }
  }
  // BACK OF SKILLS CARD
  &__skills {
    display: grid;
    grid-template-columns: repeat(2, minmax(20rem, 1fr));
    padding: 3rem;
    grid-row-gap: 2rem;
    text-align: left;
    
    h3 {
      justify-self: flex-start;
      padding-left: 3rem;
    }
    
    ul {
      justify-self: center;
      align-self: center;
    }

    li {
      padding: 1rem;
      font-size: 1.8rem;
    }
  }

  // MEDIA QUERY FOR CARD
  @media only screen and (max-width: 56.25em),
         only screen and (hover:none) {
    height: auto;
    border-radius: 2rem;
    background-color: var(--color-primary-light);
    box-shadow: var(--shadow-dark);
    
    &__side {
      position: relative;
      height: auto; 
      box-shadow: none;
      
      &--front {
        overflow: visible;
        z-index: 1;
      }
      &--back {
        transform: rotateY(0deg);
        margin-top: 5rem;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }

    &__picture {
      border-top-left-radius: 2rem;
      border-top-right-radius: 2rem;
    }
    
    &:hover &__side--front {
      transform: rotateY(0deg);
    }

    &__heading {
      z-index: 100;
    }
    
    &__details {
      padding: 2rem 1rem 2rem 1rem;
      width: 100%;
    }

    &__skills {
      padding: 1rem 2rem 2rem 2rem;
      width: 100%;
      display: flex;
      flex-direction: column;

      ul {
        padding-left: 2rem;
        justify-self: flex-start;
        align-self: flex-start;
      }

      h3 {
        justify-self: flex-start;
        padding-left: 0;
        padding-bottom: 1rem;
        padding-top: 1rem;
      }
    }
  }
}
