// MEDIA QUERY MANAGER
// 0 - 600px:      PHONE
// 600 - 900px:    TABLET PORTRAIT
// 900 - 1200px:   TABLET LANDSCAPE
// 1200 - 1800px:  DESKTOP
// 1800 > px :     BIG DESKTOP

// this example was to understand the long way to do it
// @mixin respond-phone {
//   @media (max-width: 600px) { @content };
// }

// breakpoint argument choices
// phone
// tab-port
// tab-land
// desktop

// 1em = 16px
// 600px = 37.5em
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) { @content };
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) { @content };
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) { @content };  
  }

  @if $breakpoint == desktop {
    @media only screen and (min-width: 112.5em) { @content };
  }
} 